<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" contsent="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/resources/styles/header.css">
    <link rel="stylesheet" type="text/css" href="/resources/styles/about_us.css">
    <link rel="stylesheet" type="text/css" href="/resources/styles/footer.css">
    <script src="/resources/scripts/header_flip.js" defer></script>
</head>
<body style="height: 1000px; margin:0px">
    <header class="header">
        <p>ПОТЕХА!</p>
        <div class = "left-header" style="-items: baseline">
            <a href="main">Главная</a>
            <a href="portfolio">Портфолио</a>
            <a href="about_us">О нас</a>
            <a href="reviews">Отзывы</a>
            <a href="contact_us">Оставить заявку</a>
        </div>
    </header>
    <div class="bgimg bgimg1">
        <div class="caption">
            <span class="border">КТО МЫ?</span>
        </div>
    </div>

    <div class = "blank">
        <h3>Потеха! - это рецепт хорошего развлечения</h3>
        <p>Потеха! – ваш ключ к незабываемым мероприятиям! Наше агентство предлагает индивидуальный подход к каждому клиенту, создавая события, которые запомнятся навсегда. Доверьте нам организацию вашего следующего ивента и погрузитесь в мир веселья с Потехой!</p>
    </div>

    <div class="bgimg bgimg2">
        <div class="caption">
            <span class="border">НАШИ ПРЕИМУЩЕСТВА?</span>
        </div>
    </div>

    <div class = "blank">
        <h3>Потеха! - это доступно</h3>
        <p>Потеха! – агентство, где качество веселья не зависит от цены! Мы гордимся своей доступной ценовой политикой, которая позволяет каждому клиенту насладиться высоким уровнем сервиса без лишних затрат. Организуйте мероприятие с Потехой! и получите максимум удовольствия за разумные деньги.</p>
    </div>

    <div class="bgimg bgimg3">
        <div class="caption">
            <span class="border">НАША ГЛАВНАЯ ОСОБЕННОСТЬ?</span>
        </div>
    </div>

    <div class="blank">
        <h3>Потеха! - это аутентично</h3>
        <p>Потеха! – ваш проводник в мир старославянской культуры и веселья! Наше агентство специализируется на создании атмосферы древних времен, организуя мероприятия в стиле старославянского сеттинга. Погрузитесь в уникальную атмосферу старины с нашей командой профессионалов и создайте событие, которое будет говорить о вашем вкусе и оригинальности!</p>
    </div>

    <div class="bgimg bgimg4">
        <footer class="footer-container">
            <div class="footer-subcontainer">
                <p style="font-size: 3rem; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black;">ПОТЕХА!</p>
                <p>Агенство по организации мероприятий в старо-славянском сеттинге!</p>
            </div>
            <div class="footer-subcontainer">
                <p style="font-size: 2.5rem; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black;">Свяжитесь с нами</p>
                <p>По телефону:</p>
                <a class="tel">+7 (812) 522 32-32</a>
                <p>В телеграмме:</p>
                <a class="telega">Telegram</a>
            </div>
            <div class="footer-subcontainer">
                <p style="font-size: 2.5rem; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black;">Карта сайта</p>
                <a href="main">Главная</a>
                <a href="portfolio">Портфолио</a>
                <a href="about_us">О нас</a>
                <a href="reviews">Отзывы</a>
                <a href="contact_us">Оставить заявку</a>
            </div>
        </footer>
    </div>

</body>
</html>