<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" contsent="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/resources/styles/header.css">
    <link rel="stylesheet" type="text/css" href="/resources/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/resources/styles/footer.css">
    <script src="/resources/scripts/header_flip.js" defer></script>
</head>
<body style="margin: 0">
    <header class="header">
        <p>ПОТЕХА!</p>
        <div class = "left-header" style="-items: baseline">
            <a href="main">Главная</a>
            <a href="portfolio">Портфолио</a>
            <a href="about_us">О нас</a>
            <a href="reviews">Отзывы</a>
            <a href="contact_us">Оставить заявку</a>
        </div>
    </header>

    <div class="bgimg bgimg1">
        <div class="caption">
            <span class="border">КТО МЫ?</span>
        </div>
    </div>

    <div class = "blank">
        <p>Если кратко, то агенство по организации мероприятий в старо-славянском сеттинге! А если хочется больше информации то нажимайте на кнопку!</p>
        <div class="outer-div">
            <div class="inner-div">
                <a class = "btn-open" href="about_us">К информации о нас!  ⟶</a>
            </div>
        </div>
    </div>

    <div class="bgimg bgimg2">
        <div class="caption">
            <span class="border">А какой у вас опыт?</span>
        </div>
    </div>

    <div class = "blank">
        <p>У нас большой опыт за плечами. И мы готовы вам это доказать! Не верите? Тогда жмите на кнопку и смотрите наше портфолию, где продемостированны различные наши различные работы!</p>
        <div class="outer-div">
            <div class="inner-div">
                <a class = "btn-open" href="portfolio">К портфолио!  ⟶</a>
            </div>
        </div>
    </div>

    <div class="bgimg bgimg3">
        <div class="caption">
            <span class="border">Убедились, что мы одни из лучших?</span>
        </div>
    </div>

    <div class="blank">
        <p>Если да, то скорее жмите на кнопку и оставляйте заявку для расмотрения концепта мероприятия. Наш оператор свяжется с вами в ближайший час!</p>
        <div class="outer-div">
            <div class="inner-div">
                <a class = "btn-open" href="contact_us">К оформлению заявки!  ⟶</a>
            </div>
        </div>
    </div>

    <div class="bgimg bgimg4">
        <footer class="footer-container">
            <div class="footer-subcontainer">
                <p style="font-size: 3rem; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black;">ПОТЕХА!</p>
                <p>Агенство по организации мероприятий в старо-славянском сеттинге!</p>
            </div>
            <div class="footer-subcontainer">
                <p style="font-size: 2.5rem; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black;">Свяжитесь с нами</p>
                <p>По телефону:</p>
                <a class="tel">+7 (812) 522 32-32</a>
                <p>В телеграмме:</p>
                <a class="telega">Telegram</a>
            </div>
            <div class="footer-subcontainer">
                <p style="font-size: 2.5rem; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black;">Карта сайта</p>
                <a href="main">Главная</a>
                <a href="portfolio">Портфолио</a>
                <a href="about_us">О нас</a>
                <a href="reviews">Отзывы</a>
                <a href="contact_us">Оставить заявку</a>
            </div>
        </footer>
    </div>
</body>