<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="/resources/styles/header.css">
        <link rel="stylesheet" type="text/css" href="/resources/styles/footer.css">
        <link rel="stylesheet" type="text/css" href="/resources/styles/portfolio.css">
        <script src="/resources/scripts/header_flip.js" defer></script>
    </head>
    <body style="margin: 0px;">
        <header class="header">
            <p>ПОТЕХА!</p>
            <div class = "left-header" style="-items: baseline">
                <a href="main">Главная</a>
                <a href="portfolio">Портфолио</a>
                <a href="about_us">О нас</a>
                <a href="reviews">Отзывы</a>
                <a href="contact_us">Оставить заявку</a>
            </div>
        </header>

        <div style = "min-height: 100vh; display: flex; align-items: center" class = "bgimg_non_parallax" id="reviews">
            <div style="height: 6rem"></div>
            <div class="grid_container">
                <div class = "card">
                    <div class = "zoom-effect zoom-effect2"></div>
                        <div class="text">
                            <p style="font-size: 2rem; width: 90%">Увлекательная рекламная компания для исторического музея города Можга</p>
                            <p style="font-size: 1.5rem; width: 90%">Каждый мог показать древним ящерам, что есть еще силушка на земле русской! Если вам нужна такая же эффективная конверсия - то вам к нам!</p>
                        </div>
                </div>

                <div class = "card">
                    <div class = "zoom-effect zoom-effect1"></div>
                    <div class="text">
                        <p style="font-size: 2rem">Зажигательное шоу-перфоманс для компании Dreul`yani</p>
                        <p style="font-size: 1.5rem">Если вам нужен не обычный корпоратив, а целое зажигательное шоу, которое запомнится навсегда, то вам - к нам!</p>
                    </div>
                </div>

                <div class = "card">
                    <div class = "zoom-effect zoom-effect3"></div>
                    <div class="text">
                        <p style="font-size: 2rem">Дебаты в стенах федеральной палаты адвокатов</p>
                        <p style="font-size: 1.5rem">Организовали площадку для дебатов в нашем фирменном стиле, если вы хотите настолько же глубое погружение - вам к нам!</p>
                    </div>
                </div>
            </div>
            <div style="height: 4rem"></div>
        </div>

        <div class="bgimg bgimg4">
            <footer class="footer-container">
                <div class="footer-subcontainer">
                    <p style="font-size: 3rem; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black;">ПОТЕХА!</p>
                    <p>Агенство по организации мероприятий в старо-славянском сеттинге!</p>
                </div>
                <div class="footer-subcontainer">
                    <p style="font-size: 2.5rem; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black;">Свяжитесь с нами</p>
                    <p>По телефону:</p>
                    <a class="tel">+7 (812) 522 32-32</a>
                    <p>В телеграмме:</p>
                    <a class="telega">Telegram</a>
                </div>
                <div class="footer-subcontainer">
                    <p style="font-size: 2.5rem; -webkit-text-stroke-width: 1.5px; -webkit-text-stroke-color: black;">Карта сайта</p>
                    <a href="main">Главная</a>
                    <a href="portfolio">Портфолио</a>
                    <a href="about_us">О нас</a>
                    <a href="reviews">Отзывы</a>
                    <a href="contact_us">Оставить заявку</a>
                </div>
            </footer>
        </div>
    </body>
</html>
