.bgimg {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg_non_parallax {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-image: url("/resources/imgs/bgimg_long.jpg");
    position: relative;
    background-attachment: local;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.outer-div {
    margin-left: 3%;
    width: 80%;
    margin-bottom: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red; /* Внешняя красная рамка */
    background-color: transparent; /* Фон внутри внешней рамки */
    box-shadow: 0 0 0 2px black; /* Внутренняя черная рамка */
}

.inner-div {
    border-radius: 1rem;
    border: 2px solid black; /* Внутренняя черная рамка */
    background-color: transparent; /* Фон внутри черной рамки */
    padding: 10px; /* Отступ внутри черной рамки */
}

.review-block {
    width: 100%;
    border-radius: 1.7rem;
    display: block;
}
.review-block p {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    color: red;
}
.review-comment-header {
    text-align: justify;
    margin-top: 0.3rem;
    font-size: 3rem;
    margin-left: 0.3rem;
}

.review-comment-event-name {
    text-align: justify;
    margin-top: 0.3rem;
    font-size: 2.5rem;
    margin-left: 0.3rem;
}

.review-comment-text {
    overflow-wrap: break-word;
    width: 85%;
    background-color: transparent;
    font-family: main_text;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    color: red;
    text-align: justify;
    margin-top: 0.3rem;
    font-size: 2rem;
    margin-left: 0.3rem;
}

.review-comment-name {
    text-align: end;
    margin-top: 0.3rem;
    font-size: 1.5rem;
    margin-right: 0.3rem;
}

.bgimg4 {
    background-image: url("/resources/imgs/spin.jpg");
    min-height: 40%;
}

.floating-open-button {
    max-width: 200px;
    font-size: 2rem;
    background: transparent;
    font-family: main_text;
    margin-top: 6rem;
    margin-left: 85%;
    z-index: 999;
    position: fixed;
    color:red;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
    transition: transform 0.3s ease, margin-left 0.5s ease;
}
.hidden1 {
     margin-left: 1550px;
 }
.floating-open-button:hover {
    transform: scale(1.1);
}

.floating-open-button button {
    font-family: main_text;
    border: none;
    color:red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 2rem;
    background: transparent;
}

/*---------------------------------------------*/

.review_form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-style: solid;
    border-color: transparent;
    background-color: rgba(47, 51, 60, 1);
    padding: 2rem;
    border-radius: 1.7rem;
}

.overlay {
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #080610ed;
}

.overlay .menu {
    margin: 100px auto;
    width: 100%;
}

.review_form input {
    border-style: none;
    font-size: 2rem;
    color: red;
    background-color: transparent;
    font-family: main_text;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.review_form label {
    font-size: 2rem;
    color: red;
    background-color: transparent;
    font-family: main_text;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    display: block;
}
.review_form textarea {
    border-style: none;
    font-size: 2rem;
    color: red;
    background-color: transparent;
    font-family: main_text;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.outer-div2 {
    width: 80%;
    margin-bottom: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red; /* Внешняя красная рамка */
    background-color: transparent; /* Фон внутри внешней рамки */
    box-shadow: 0 0 0 2px black; /* Внутренняя черная рамка */
}

.inner-div2 {
    width: 100%;
    border-radius: 1.7rem;
    border: 2px solid black; /* Внутренняя черная рамка */
    background-color: transparent; /* Фон внутри черной рамки */
}

.outer-div3 {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red; /* Внешняя красная рамка */
    background-color: transparent; /* Фон внутри внешней рамки */
    box-shadow: 0 0 0 2px black; /* Внутренняя черная рамка */
}

.review_form button {
    font-size: 2rem;
    color: red;
    background-color: transparent;
    font-family: main_text;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;

}